[submodule "scroll-contracts"]
	path = scroll-contracts
	url = https://github.com/DogeOS69/scroll-contracts.git
	branch = dogeos
[submodule "scroll-sdk-cli"]
	path = scroll-sdk-cli
	url = https://github.com/DogeOS69/scroll-sdk-cli.git
	branch = dogeos
