# OS
.DS_Store

# Editors
.idea/
.vscode/

# Helm dependencies and packaged charts
charts/**/Chart.lock
charts/**/*.tgz
charts/**/charts/

# Generated environment files
charts/scroll-sdk/configs/*.env
