[submodule "scroll-contracts"]
	path = scroll-contracts
	url = https://github.com/DogeOS69/scroll-contracts.git
	branch = try_merge_v3.0.0
[submodule "scroll-sdk-cli"]
	path = scroll-sdk-cli
	url = https://github.com/DogeOS69/scroll-sdk-cli.git
	branch = feat/fenyman
