# HELP withdrawal_processor_events_processed_total Total number of events processed successfully
# TYPE withdrawal_processor_events_processed_total counter
withdrawal_processor_events_processed_total{event="Chain"} 4
withdrawal_processor_events_processed_total{event="Lifecycle"} 307
withdrawal_processor_events_processed_total{event="System"} 1
withdrawal_processor_events_processed_total{event="Task"} 36

# HELP withdrawal_processor_batch_started_total Total number of batches started
# TYPE withdrawal_processor_batch_started_total counter
withdrawal_processor_batch_started_total{trigger="ProcessingStarted"} 5

# HELP withdrawal_processor_task_created_total Total number of tasks created
# TYPE withdrawal_processor_task_created_total counter
withdrawal_processor_task_created_total{source="orchestrator"} 5

# HELP withdrawal_processor_tso_proposals_total Total TSO proposals sent
# TYPE withdrawal_processor_tso_proposals_total counter
withdrawal_processor_tso_proposals_total{source="building"} 5

# HELP withdrawal_processor_tso_finalized_total Total TSO finalizations received
# TYPE withdrawal_processor_tso_finalized_total counter
withdrawal_processor_tso_finalized_total{source="api_event"} 5

# HELP celestia_indexer_stored_blob_total Total number of DA blobs stored that matched the target namespace.
# TYPE celestia_indexer_stored_blob_total counter
celestia_indexer_stored_blob_total 7

# HELP withdrawal_processor_batch_completed_total Total number of batches completed
# TYPE withdrawal_processor_batch_completed_total counter
withdrawal_processor_batch_completed_total{result="complete"} 4

# HELP withdrawal_processor_last_processed_timestamp Unix timestamp of the last successfully processed withdrawal event
# TYPE withdrawal_processor_last_processed_timestamp gauge
withdrawal_processor_last_processed_timestamp{component="broadcast"} 1761891977

# HELP withdrawal_processor_active_tasks Current number of active tasks
# TYPE withdrawal_processor_active_tasks gauge
withdrawal_processor_active_tasks 1

# TYPE indexer_dogecoin_last_synced_block gauge
indexer_dogecoin_last_synced_block 14119118

# TYPE withdrawal_processor_last_processed_batch_height gauge
withdrawal_processor_last_processed_batch_height{component="broadcast"} 4

# TYPE withdrawal_processor_event_publisher_active gauge
withdrawal_processor_event_publisher_active 1

# TYPE withdrawal_processor_last_processed_mq_index gauge
withdrawal_processor_last_processed_mq_index{component="broadcast"} 1

# HELP withdrawal_processor_active_batches Current number of active batches
# TYPE withdrawal_processor_active_batches gauge
withdrawal_processor_active_batches 1

# TYPE indexer_dogeos_latest_block_number gauge
indexer_dogeos_latest_block_number 2971

# TYPE indexer_dogeos_last_synced_block gauge
indexer_dogeos_last_synced_block 2959

# HELP celestia_indexer_last_synced_block The last block number successfully synced by the Celestia indexer.
# TYPE celestia_indexer_last_synced_block gauge
celestia_indexer_last_synced_block 8640202

# HELP withdrawal_processor_pending_tasks Current number of pending tasks
# TYPE withdrawal_processor_pending_tasks gauge
withdrawal_processor_pending_tasks 4

# TYPE dogeos_max_message_queue_index gauge
dogeos_max_message_queue_index 1

# HELP withdrawal_processor_tso_signing_duration_seconds Duration between TSO proposal and finalization
# TYPE withdrawal_processor_tso_signing_duration_seconds summary
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0.5"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0.9"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0.95"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0.99"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="0.999"} 0
withdrawal_processor_tso_signing_duration_seconds{route="submit_finalized_tx",quantile="1"} 0
withdrawal_processor_tso_signing_duration_seconds_sum{route="submit_finalized_tx"} 37
withdrawal_processor_tso_signing_duration_seconds_count{route="submit_finalized_tx"} 5

# TYPE withdrawal_processor_txs_per_bundle summary
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0.5"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0.9"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0.95"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0.99"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="0.999"} 0
withdrawal_processor_txs_per_bundle{component="broadcast",quantile="1"} 0
withdrawal_processor_txs_per_bundle_sum{component="broadcast"} 5
withdrawal_processor_txs_per_bundle_count{component="broadcast"} 5

# HELP celestia_indexer_blob_fetch_duration_seconds Duration to fetch full blob data via the blob_get RPC call.
# TYPE celestia_indexer_blob_fetch_duration_seconds summary
celestia_indexer_blob_fetch_duration_seconds{quantile="0"} 0.007360906
celestia_indexer_blob_fetch_duration_seconds{quantile="0.5"} 0.008769284851531103
celestia_indexer_blob_fetch_duration_seconds{quantile="0.9"} 0.05516094938892254
celestia_indexer_blob_fetch_duration_seconds{quantile="0.95"} 0.05516094938892254
celestia_indexer_blob_fetch_duration_seconds{quantile="0.99"} 0.05516094938892254
celestia_indexer_blob_fetch_duration_seconds{quantile="0.999"} 0.05516094938892254
celestia_indexer_blob_fetch_duration_seconds{quantile="1"} 0.061040068
celestia_indexer_blob_fetch_duration_seconds_sum 603.2242879280005
celestia_indexer_blob_fetch_duration_seconds_count 3015

# HELP withdrawal_processor_withdrawals_per_tx Number of withdrawals included in each broadcast transaction
# TYPE withdrawal_processor_withdrawals_per_tx summary
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0.5"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0.9"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0.95"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0.99"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="0.999"} 0
withdrawal_processor_withdrawals_per_tx{component="broadcast",quantile="1"} 0
withdrawal_processor_withdrawals_per_tx_sum{component="broadcast"} 2
withdrawal_processor_withdrawals_per_tx_count{component="broadcast"} 5
