# TYPE l1_interface_deposits_processed_total counter
l1_interface_deposits_processed_total 1640

# TYPE l1_interface_indexer_sync_results_total counter
l1_interface_indexer_sync_results_total{indexer="celestia",status="success"} 1
l1_interface_indexer_sync_results_total{indexer="dogecoin",status="success"} 1

# TYPE l1_interface_db_query_responses_total counter
l1_interface_db_query_responses_total{status="success"} 107782

# TYPE l1_interface_deposits_filtered_total counter
l1_interface_deposits_filtered_total{reason="invalid_recipient_or_status"} 0

# TYPE l1_interface_rpc_responses_total counter
l1_interface_rpc_responses_total{method="eth_getLogs",status="success"} 1818
l1_interface_rpc_responses_total{method="eth_getStorageAt",status="success"} 2820
l1_interface_rpc_responses_total{method="eth_call",status="success"} 188
l1_interface_rpc_responses_total{method="eth_getBlockByNumber",status="success"} 12110
l1_interface_rpc_responses_total{method="eth_blockNumber",status="success"} 2912

# TYPE l1_interface_rpc_requests_total counter
l1_interface_rpc_requests_total{method="eth_blockNumber"} 2912
l1_interface_rpc_requests_total{method="eth_getBlockByNumber"} 12110
l1_interface_rpc_requests_total{method="eth_call"} 188
l1_interface_rpc_requests_total{method="eth_getLogs"} 1818
l1_interface_rpc_requests_total{method="eth_getStorageAt"} 2820

# TYPE l1_interface_chain_state_requests_total counter
l1_interface_chain_state_requests_total{method="get_finalized_block"} 12110

# TYPE l1_interface_cache_priming_total counter
l1_interface_cache_priming_total 1

# TYPE l1_interface_cache_primed_fulfillments counter
l1_interface_cache_primed_fulfillments 90

# TYPE l1_interface_db_queries_total counter
l1_interface_db_queries_total 107782

# TYPE l1_interface_indexer_sync_attempts_total counter
l1_interface_indexer_sync_attempts_total{indexer="dogecoin"} 1
l1_interface_indexer_sync_attempts_total{indexer="celestia"} 1

# TYPE l1_interface_kzg_computation_total counter
l1_interface_kzg_computation_total{status="success"} 90

# TYPE l1_interface_kzg_cache_hits_total counter
l1_interface_kzg_cache_hits_total{cache_type="versioned_hash",status="miss"} 90

# TYPE l1_interface_kzg_cache_requests_total counter
l1_interface_kzg_cache_requests_total{cache_type="versioned_hash"} 90

# TYPE l1_interface_service_ready_total counter
l1_interface_service_ready_total 1

# TYPE l1_interface_kzg_cache_operations_total counter
l1_interface_kzg_cache_operations_total{cache_type="versioned_hash",operation="insert"} 90

# TYPE l1_interface_chain_state_operations_total counter
l1_interface_chain_state_operations_total{method="get_finalized_block",status="success"} 12110

# TYPE l1_interface_genesis_mode_active gauge
l1_interface_genesis_mode_active 0

# TYPE l1_interface_service_ready gauge
l1_interface_service_ready 1

# TYPE indexer_dogecoin_last_synced_block gauge
indexer_dogecoin_last_synced_block 14092166

# TYPE l1_interface_service_startup_duration_seconds gauge
l1_interface_service_startup_duration_seconds 4.806486035

# TYPE l1_interface_service_info gauge
l1_interface_service_info{version="0.2.0",chain_id="221122"} 1

# TYPE l1_interface_final_rpc_head_height gauge
l1_interface_final_rpc_head_height 14092166

# TYPE l1_interface_indexer_last_sync_timestamp gauge
l1_interface_indexer_last_sync_timestamp{indexer="celestia"} 1761143443
l1_interface_indexer_last_sync_timestamp{indexer="dogecoin"} 1761143443

# TYPE l1_interface_active_tasks gauge
l1_interface_active_tasks 8

# TYPE l1_interface_latest_cached_batch_index gauge
l1_interface_latest_cached_batch_index 90

# TYPE l1_interface_safe_head_height gauge
l1_interface_safe_head_height 14092166

# TYPE l1_interface_indexer_sync_duration_seconds summary
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0.5"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0.9"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0.95"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0.99"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="0.999"} 0
l1_interface_indexer_sync_duration_seconds{indexer="dogecoin",status="success",quantile="1"} 0
l1_interface_indexer_sync_duration_seconds_sum{indexer="dogecoin",status="success"} 0.013480311
l1_interface_indexer_sync_duration_seconds_count{indexer="dogecoin",status="success"} 1
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0.5"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0.9"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0.95"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0.99"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="0.999"} 0
l1_interface_indexer_sync_duration_seconds{indexer="celestia",status="success",quantile="1"} 0
l1_interface_indexer_sync_duration_seconds_sum{indexer="celestia",status="success"} 0.0082874
l1_interface_indexer_sync_duration_seconds_count{indexer="celestia",status="success"} 1

# TYPE l1_interface_rpc_request_duration_seconds summary
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0"} 0.000003881
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0.5"} 0.000007228347969904331
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0.9"} 0.000008564369487567019
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0.95"} 0.000009146858749607635
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0.99"} 0.000010517184251230178
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="0.999"} 0.000010517184251230178
l1_interface_rpc_request_duration_seconds{method="eth_getStorageAt",status="success",quantile="1"} 0.000010788
l1_interface_rpc_request_duration_seconds_sum{method="eth_getStorageAt",status="success"} 0.02258580799999997
l1_interface_rpc_request_duration_seconds_count{method="eth_getStorageAt",status="success"} 2820
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0"} 0.000003603
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0.5"} 0.000003603157380384916
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0.9"} 0.000003603157380384916
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0.95"} 0.000003603157380384916
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0.99"} 0.000003603157380384916
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="0.999"} 0.000003603157380384916
l1_interface_rpc_request_duration_seconds{method="eth_call",status="success",quantile="1"} 0.000003603
l1_interface_rpc_request_duration_seconds_sum{method="eth_call",status="success"} 0.0007820989999999998
l1_interface_rpc_request_duration_seconds_count{method="eth_call",status="success"} 188
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0"} 0.000738772
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0.5"} 0.0009215071440081032
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0.9"} 0.001272336853457227
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0.95"} 0.001272336853457227
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0.99"} 0.001272336853457227
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="0.999"} 0.001272336853457227
l1_interface_rpc_request_duration_seconds{method="eth_getLogs",status="success",quantile="1"} 0.001577294
l1_interface_rpc_request_duration_seconds_sum{method="eth_getLogs",status="success"} 3.033943825999998
l1_interface_rpc_request_duration_seconds_count{method="eth_getLogs",status="success"} 1818
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0"} 0.0001063
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0.5"} 0.0001977513680171188
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0.9"} 0.0005398063844139548
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0.95"} 0.0005607137512690149
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0.99"} 0.0005607137512690149
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="0.999"} 0.0005607137512690149
l1_interface_rpc_request_duration_seconds{method="eth_blockNumber",status="success",quantile="1"} 0.000614073
l1_interface_rpc_request_duration_seconds_sum{method="eth_blockNumber",status="success"} 0.9096893750000024
l1_interface_rpc_request_duration_seconds_count{method="eth_blockNumber",status="success"} 2912
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0"} 0.000628367
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0.5"} 0.0012226923256967465
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0.9"} 0.0014620729423078821
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0.95"} 0.0015318179801969204
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0.99"} 0.0016613910820036063
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="0.999"} 0.0016613910820036063
l1_interface_rpc_request_duration_seconds{method="eth_getBlockByNumber",status="success",quantile="1"} 0.001755745
l1_interface_rpc_request_duration_seconds_sum{method="eth_getBlockByNumber",status="success"} 15.08553796000001
l1_interface_rpc_request_duration_seconds_count{method="eth_getBlockByNumber",status="success"} 12110

# TYPE l1_interface_cache_priming_duration_seconds summary
l1_interface_cache_priming_duration_seconds{quantile="0"} 0
l1_interface_cache_priming_duration_seconds{quantile="0.5"} 0
l1_interface_cache_priming_duration_seconds{quantile="0.9"} 0
l1_interface_cache_priming_duration_seconds{quantile="0.95"} 0
l1_interface_cache_priming_duration_seconds{quantile="0.99"} 0
l1_interface_cache_priming_duration_seconds{quantile="0.999"} 0
l1_interface_cache_priming_duration_seconds{quantile="1"} 0
l1_interface_cache_priming_duration_seconds_sum 0.00927374
l1_interface_cache_priming_duration_seconds_count 1

# TYPE l1_interface_deposit_amount_satoshis summary
l1_interface_deposit_amount_satoshis{quantile="0"} 0
l1_interface_deposit_amount_satoshis{quantile="0.5"} 0
l1_interface_deposit_amount_satoshis{quantile="0.9"} 0
l1_interface_deposit_amount_satoshis{quantile="0.95"} 0
l1_interface_deposit_amount_satoshis{quantile="0.99"} 0
l1_interface_deposit_amount_satoshis{quantile="0.999"} 0
l1_interface_deposit_amount_satoshis{quantile="1"} 0
l1_interface_deposit_amount_satoshis_sum 345236800000
l1_interface_deposit_amount_satoshis_count 1640

# TYPE l1_interface_chain_state_duration_seconds summary
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0"} 0.000352711
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0.5"} 0.0004620210844437889
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0.9"} 0.0005921799321770045
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0.95"} 0.0006429137179082858
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0.99"} 0.0007016330375076529
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="0.999"} 0.0007016330375076529
l1_interface_chain_state_duration_seconds{method="get_finalized_block",quantile="1"} 0.000713004
l1_interface_chain_state_duration_seconds_sum{method="get_finalized_block"} 5.923943173000002
l1_interface_chain_state_duration_seconds_count{method="get_finalized_block"} 12110

# TYPE l1_interface_kzg_cache_operation_duration_seconds summary
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0.5"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0.9"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0.95"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0.99"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="0.999"} 0
l1_interface_kzg_cache_operation_duration_seconds{cache_type="versioned_hash",operation="get",status="miss",quantile="1"} 0
l1_interface_kzg_cache_operation_duration_seconds_sum{cache_type="versioned_hash",operation="get",status="miss"} 2.398724408
l1_interface_kzg_cache_operation_duration_seconds_count{cache_type="versioned_hash",operation="get",status="miss"} 90

# TYPE l1_interface_db_query_duration_seconds summary
l1_interface_db_query_duration_seconds{status="success",quantile="0"} 0.000052386
l1_interface_db_query_duration_seconds{status="success",quantile="0.5"} 0.0001449241531005047
l1_interface_db_query_duration_seconds{status="success",quantile="0.9"} 0.0003184325014324595
l1_interface_db_query_duration_seconds{status="success",quantile="0.95"} 0.0003636567857599674
l1_interface_db_query_duration_seconds{status="success",quantile="0.99"} 0.0004992018523186771
l1_interface_db_query_duration_seconds{status="success",quantile="0.999"} 0.0005579171797583131
l1_interface_db_query_duration_seconds{status="success",quantile="1"} 0.000560534
l1_interface_db_query_duration_seconds_sum{status="success"} 19.60544379699991
l1_interface_db_query_duration_seconds_count{status="success"} 107782

# TYPE l1_interface_deposit_processing_duration_seconds summary
l1_interface_deposit_processing_duration_seconds{quantile="0"} 0.000334647
l1_interface_deposit_processing_duration_seconds{quantile="0.5"} 0.0003929217673651828
l1_interface_deposit_processing_duration_seconds{quantile="0.9"} 0.0005940779431642414
l1_interface_deposit_processing_duration_seconds{quantile="0.95"} 0.0005940779431642414
l1_interface_deposit_processing_duration_seconds{quantile="0.99"} 0.0005940779431642414
l1_interface_deposit_processing_duration_seconds{quantile="0.999"} 0.0005940779431642414
l1_interface_deposit_processing_duration_seconds{quantile="1"} 0.000818564
l1_interface_deposit_processing_duration_seconds_sum 1.716822361000001
l1_interface_deposit_processing_duration_seconds_count 3191

